{% extends "base.html" %}

{% block title %}
  <h2><img src="{{ chosen_team.get_flag_url}}" /> {{ chosen_team }}</h2>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    {% for league, teamplayers in players_by_league %}
      <hr />
      <h3>{{ league }}</h3>
      <table class="table table-bordered">
        <tr>
          <th>Jogador</th>
          <th>Camisa</th>
          <th>Posição</th>
        </tr>
          {% for player in teamplayers.all %}
          <tr>
            <td>{{ player.player.name }}</td>
            <td>{{ player.shirt_number }}</td>
            <td>{{ player.player.position }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endfor %}
  <p class="text-center"><a class="btn btn-default" href="{% url 'teams:list' %}">Voltar</a></p>
  </div>
</div>
{% endblock %}
