{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-lg-12">
      <hr />
      <table class="table table-bordered">
        <th>Campeonato</th>
        <th>Data de início</th>
        <th>Data de término</th>
        <th>Rodadas</th>
        {% for league in leagues %}
          <tr>
            <td>{{ league }}</td>
            <td>{{ league.period_start }}</td>
            <td>{{ league.period_end }}</td>
            <td class="text-center"><a href="{% url "leagues:rounds" league.slug %}" class="btn btn-default text-center">Visualizar rodadas</a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
