{% extends "base.html" %}

{% block title %}<h2>{{ league }}</h2>{% endblock %}

{% block content %}
  <div class="panel-group" id="accordion">
    {% for round in round_list %}
      <div class="panel panel-default">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
          <div class="panel-heading">
            <h4 class="panel-title">
              <p>{{ round.name }}</p>
            </h4>
          </div>
        </a>
        <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
          <div class="panel-body">
            <table class="table table-striped">
              <tr>
                <th>Data</th>
                <th>Jogo</th>
                <th>Detalhes</th>
              </tr>
              {% for game in round.game_set.iterator %}
                <tr title="Para maiores informações, clique sobre o jogo">
                  <td>{{ game.date|date:"d/m/Y - H:i" }}</td>
                  <td>
                    <a href="#" class="text-info">
                      <abbr title="{{ game.team_home.name }}">{{ game.team_home.abbr }}</abbr> <img src="{{ game.team_home.get_flag_url }}" /> {% if game.team_home_score %}{{ game.team_home_score }}{% endif %} X {% if game.team_away_score %}{{ game.team_away_score }}{% endif %} <img src="{{ game.team_away.get_flag_url }}" /> <abbr title="{{ game.team_away.name }}">{{ game.team_away.abbr }}</abbr>
                    </a>
                  </td>
                  <td><a class="btn btn-default" href="{{ game.get_absolute_url }}">Visualizar detalhes</a></td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
